name: lll-common-github-actions
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  workflow_dispatch: {}



env:
  JAVA_VERSION: 21

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Generate Maven settings.xml
        uses: lll-org/lll-actions/.github/actions/maven-nexus-settings@v1
        with:
          nexus_mirror_url: ${{ secrets.NEXUS_MIRROR_URL }}
          server_id: nexus
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}

      - name: Build & Deploy to Nexus
        run: mvn -B -ntp -DskipTests clean deploy
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}



      - name: Build & Deploy to Nexus
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          mvn -B -ntp -DskipTests clean deploy
