name: lll-common-github-actions
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  workflow_dispatch: {}



env:
  JAVA_VERSION: 21

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
          cache: 'maven'

      - name: Generate Maven settings.xml
        uses: lll-org/lll-actions/.github/actions/maven-nexus-settings@v3
        with:
          nexus_mirror_url: ${{ secrets.NEXUS_MIRROR_URL }}
          server_id: nexus
          nexus_username: ${{ secrets.NEXUS_USERNAME }}
          nexus_password: ${{ secrets.NEXUS_PASSWORD }}

#      - name: Show generated settings.xml (redacted)
#        run: |
#          echo "===== ~/.m2/settings.xml ====="
#          sed -E 's#(<password>).*?(</password>)#\1***\2#g' ~/.m2/settings.xml
#          echo "===== mirrors ====="
#          grep -n "<mirrors>" -n ~/.m2/settings.xml -n || true
#
#      - name: Debug fetch parent
#        run: |
#          mkdir -p /tmp/mvn-empty
#          cd /tmp/mvn-empty
#          mvn -B -ntp -U -e -X org.apache.maven.plugins:maven-dependency-plugin:3.6.1:get \
#            -Dartifact=top.lll44556:lll:pom:0.0.1-SNAPSHOT

    
    
    
    
    
      - name: Build & Deploy to Nexus
        run: mvn -B -ntp -U -DskipTests clean deploy
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}



      - name: Build & Deploy to Nexus
        env:
          NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          mvn -B -ntp -DskipTests clean deploy
